/* QuizForm.css */

.quiz-form-container {
  max-width: 70%;
  margin: 0 auto; /* Center the container horizontally */
  padding-bottom: 40px;
  min-height: calc(100vh - 250px);
}

.my-button,
.uk-button-default:focus {
  background-color: #7cebad;
  border-color: transparent;
  color: #fff; /* Set button text color to white */
}

.quiz-image {
  max-width: 100%;
  max-height: 500px;
  margin: 20px auto; /* Center the image horizontally with some vertical margin */
  display: block; /* Ensure the image is displayed as a block element */
}

@media screen and (max-width: 840px) {
  .quiz-form-container {
    max-width: 90%; /* Adjust the width for smaller screens */
    margin: 0 auto; /* Center the container horizontally */
    padding: 0 20px; /* Add some padding to the sides for smaller screens */
  }
}
